@import "~normalize.css";

.container {
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
}

#task-list,
.input-section {
    width: 600px;
    margin: 0 auto;
}

#task-list {
    counter-reset: task;
}

.list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-item p::before {
    counter-increment: task;
    content: counter(task)'. ';
}

.btn-wrapper {
    width: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}